/* General
======================*/
*,
:focus {
    outline: 0!important;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x:hidden;
    background: #fbfbfb;
}

/*Page Setting
=============================*/
#wrapper{
	position: relative;
	width: 100%;
    height: 100%;
}
.main{
    position: relative;
    width: 100%;
}

/*Links
=============================*/
a, a:hover, a:focus {
    text-decoration: none;
}

/*Spacer
===============================*/
.spacer-15{
    display: block;
    height: 15px;
    width: 100%;
    overflow: hidden;
    clear: both;
}
hr {
    display: block;
    position: relative;
    margin-top:10px;
    margin-bottom:10px;
    border: 0;
    border-top: 1px solid #eee;
    width: 100%;
}

/*Lists
=============================*/
ul, li {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Button
======================*/
.custom-btn {
    border: 0;
    display: inline-block;
    line-height: 35px;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    letter-spacing: 0.5px;
    color: #fff;
    text-transform: capitalize;
}
.custom-btn:hover ,
.custom-btn:focus {
    color: #fff;
}
.icon-btn{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    position: relative;
    text-align: center;
    border: 0;
    background: #2a2a86;
    opacity: 0.8;
    color: #fff;
    border-radius: 3px;
    vertical-align: middle;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.icon-btn i{
    display:block;
    line-height:30px;
    text-align:center;
}
.icon-btn:hover{
    opacity:1;
    color: #fff;
}
.green-bc{
    background: #4CAF50!important;
}
.blue-bc{
    background: #03A9F4!important;
}
.red-bc{
    background: #fa3b39;
}

/* pagenation
============================*/
.pagenation {
    display: block;
    position: relative;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
    width: 100%;
    background: #f2f7f8;
}
.pagenation li {
    display: inline-block;
}
.pagenation li a {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #000;
    background: #fff;
    border-radius: 3px;
}
.pagenation li.active a:hover,
.pagenation li.active a, 
.pagenation li a:hover {
     color: #fff;
}

/*Images
=============================*/
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

/* Forms
======================*/
.form-group {
    position: relative;
    overflow: hidden;
    margin: 5px auto;
}
.form-group label {
    display: block;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
    margin: 5px 0;
    color: #121212;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.form-control {
    color: #333;
    border: 1px solid #ececec;
    margin: 0 auto;
    padding: 0px 10px;
    height: 45px;
    line-height: 45px;
    background-color: #fff;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 100;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.form-control:hover,
.form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
textarea.form-control {
    height: 120px!important;
    resize: none;
    overflow-x: hidden;
    line-height: 30px;
}
input[type=radio],
input[type=checkbox] {
    display: none;
}
input[type=radio]+label,
input[type=checkbox]+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
}
input[type=radio]+label::before,
input[type=checkbox]+label::before {
    content: "";
    display: block;
    text-align: center;
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    top: -17px;
    width: 20px;
    height: 20px;
    color: inherit;
    background: #fff;
    border: 1px solid #e5e3e3;
    border-radius: 3px;
    font-size: 13px;
}
input[type=checkbox]+label::before {
    top: 0;
}
input[type=radio]+label::before {
    border-radius: 50%
}
input[type=radio]+label:empty,
input[type=checkbox]+label:empty {
    width: 22px!important;
    padding-right: 0;
    margin: 0!important;
}
input[type=radio]:checked+label::before,
input[type=checkbox]:checked+label::before {
    content: '\f00c';
    color: #2a2a86;
}
.radio-wrap {
    display: block;
    margin: 0px;
    padding: 0 5px;
}
.radio-wrap label i {
    display: block;
}
.radio-wrap label i:before {
    font-size: 46px;
}
.radio-wrap label span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding-left: 25px;
}
.radio-wrap input[type="radio"]:empty,
.radio-wrap input[type="checkbox"]:empty {
    display: none;
}
.radio-wrap input[type="radio"]:empty ~ label,
.radio-wrap input[type="checkbox"]:empty ~ label {
    overflow: hidden;
    cursor: pointer;
    padding: 10px;
    font-weight: 100;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #f1f1f1;
}
.radio-wrap input[type="radio"]:empty ~ label:before,
.radio-wrap input[type="checkbox"]:empty ~ label:before {
    position: relative;
    float: left;
    content: '';
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #c1c1c1;
    top: 5px;
}

.radio-wrap input[type="checkbox"]:empty ~ label:before {
    border-radius: 1px;
}
.radio-wrap input[type="radio"]:checked ~ label,
.radio-wrap input[type="checkbox"]:checked ~ label {
    color: #1e1f1f;
    background: #f2f7f8;
}
.radio-wrap input[type="radio"]:checked ~ label:before,
.radio-wrap input[type="checkbox"]:checked ~ label:before {
    background: #4CAF50;
    border-color: #4CAF50;
}
.ui-widget.ui-widget-content {
    padding: 0;
    border-radius: 0;
    overflow: hidden;
    border: 1px solid #ebebeb;
    border-top: 0;
    border-bottom: 0;
}
.ui-selectmenu-button.ui-button {
    white-space: nowrap;
    width: 100%;
    border-radius: 3px;
    line-height: 45px;
    height: 45px;
    padding: 0 0 0 8px;
    text-align: left;
    font-size: 12px;
    display: inline-block;
    background: #fff;
}
.ui-selectmenu-text {
    color: #121212;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.ui-selectmenu-icon.ui-icon {
    float: right;
    margin-top: 15px;
    margin-right: 5px;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.ui-button.ui-state-active:hover {
    background: #f1f1f1;
    font-weight: normal;
    color: #363636;
    margin: 0;
    padding: 0 10px;
}
.ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 0 10px;
    font-family: 'Droid Arabic Kufi', sans-serif;
    line-height: 35px;
    border: 0;
    border-bottom: 1px solid #ebebeb;
}

/* Login
===========================*/
.log-wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../images/bc-1.png) right;
    background-size: cover;
    overflow: hidden;
    overflow-y: auto;
}
.log-wrap .container-fluid{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 75px 0;
    background: rgba(0,0,0,.5);
}
.login-register{
    width: 100%;
    max-width: 420px;
    margin: 0px auto 0px 150px;
    background: #fff;
    text-align: center;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    opacity: 0;
}
.login-register .logo img{
    width: 122px;
}
.login-register .login-form{
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.login-register .form-title{
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    text-transform: capitalize;
    border-bottom: 1px solid #f1f1f1;
    padding: 5px 0px;
    margin-bottom: 10px;
}
.login-register .login-form .form-group{
    padding: 5px 10px;
    margin:0 auto;
}
.login-register .remmeber{
    float: left;
    margin-top: 10px;
}
.login-register .forget-pass {
    float: right;
    color: #060606;
    margin-top: 5px;
    line-height: 30px;
}
.login-register .forget-pass a{
    color: #303030;
}
.login-register .custom-btn{
    margin-top:10px;
    width: 150px;
}
.back{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    background: #ed0f1b;
    color: #fff;
    z-index: 9999;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
}
.back:hover{
    background:#2a2a86;
    color:#fff;
}
@media all and (max-width:991px){
    .login-register{
        margin:10px auto; 
    }
}

/*Side Menu
=============================*/
.side-menu {
    display: block;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    overflow-y: auto;
    box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
    z-index: 999;
    opacity: 0;
    -webkit-transition: .3s all;
       -moz-transition: .3s all;
            transition: .3s all;
}
.side-menu-move{
    left: -200px;
    -webkit-transition: .3s all;
       -moz-transition: .3s all;
            transition: .3s all;
}
.logo{
    display: block;
    position: relative;
    text-align: center;
    padding: 5px;
}
.logo .main-logo{
    display: block;
    height: 90px;
    margin: 0px auto 5px;
}
.logo .main-logo img{
    height: 80px;
    width: 120px;
}
.logo .second-logo{
    display: block;
    height: 45px;
    margin: 0 auto;
}
.logo .second-logo img{
    width: 130px;
    margin-top: -15px;
}
.sidebar {
    display: block;
    position: relative;
    z-index: 100;
    -webkit-transition: .3s all;
       -moz-transition: .3s all;
            transition: .3s all;
}
.sidebar .side-menu-links li a {
    display: block;
    position: relative;
    color: #222222;
    border-top: 1px solid #f4f4f4;
    border-left: 4px solid transparent;
    padding: 0 0 0 15px;
    line-height: 40px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    transition: .3s all;
}
.sidebar .side-menu-links li a i {
    width: 20px;
    height: 40px;
    line-height: 40px;
    float:right;
}
.sidebar .side-menu-links li.active ul {
    display: block;
}
.sidebar .side-menu-links ul {
    display: none;
    background:#f4f4f4;
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.sidebar .side-menu-links ul li {
    background: transparent;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom: none;
}
.sidebar .side-menu-links ul li a {
    display: block;
    position: relative;
    font-size: 11px;
    padding: 0 20px;
    line-height: 30px;
    border-top: 1px solid #eaeaea;
    text-transform: capitalize;
}
.sidebar .side-menu-links li a:hover ,
.sidebar .side-menu-links li a:focus ,
.sidebar .side-menu-links li.active a:hover ,
.sidebar .side-menu-links li.active a{
    background: #f4f4f4;
    -webkit-transition: .3s all;
       -moz-transition: .3s all;
            transition: .3s all;
}

.page-content {
    display: block;
    background: #f2f7f8;
    position: fixed;
    top: 0;
    left: 200px;
    height: 100%;
    width: calc(100% - 200px);
    overflow: hidden;
    overflow-y: auto;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    transition: .3s all;
}
.page-content-move{
    left: 0;
    width: calc(100% - 0px);
    -webkit-transition: .3s all;
       -moz-transition: .3s all;
            transition: .3s all;
}
.content {
    display: block;
    position: relative;
    width: 100%;
    padding: 15px;
    overflow: hidden!important;
    opacity: 0;
}
@media all and (max-width:991px){
    .side-menu{
        left: -200px
    }
    .side-menu-move{
        left: 0px;
    }
    .page-content{
        left: 0;
        width: calc(100% - 0px);
    }
    .page-content-move{
        left: 200px;
        width: calc(100% - 0px);
        -webkit-transition: .3s all;
            -moz-transition: .3s all;
                 transition: .3s all;
    }
}

/*Page Heading
================================*/
.page-heading {
    display: block;
    position: relative;
    text-align:left;
    width: 100%;
    overflow: hidden;
    background: #fff;
    padding: 0;
}
.page-heading h2 {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    line-height: 35px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.page-heading .breadcrumb {
	background: none;
	text-align:right;
	font-size: 12px;
	margin: 0;
	padding: 0;
	line-height: 35px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.page-heading .breadcrumb > li + li:before {
	padding-right: 6px;
}
.page-heading .breadcrumb > .active {
    color: #222f44;
}
@media (max-width: 991px) {
    .page-heading {
		text-align: center;
        overflow: hidden;
    }
    .page-heading h2{
        text-align: center;
    }
    .page-heading .breadcrumb{
        text-align: center;
    }
}

/*Widget
==============================*/
.widget{
    display: block;
    position: relative;
    overflow: hidden;
    background: #fff;
    margin-bottom:25px;
}
.widget .widget-title {
    display: block;
    position: relative;
    line-height: 40px;
    padding: 0 15px;
    font-weight: 600;
    color: #fff;
}
.widget .widget-content {
    display: block;
    position: relative;
    padding: 15px;
    overflow: hidden;
}

/*Pge Content
=============================*/
.top-header {
    display: block;
    position:relative;
    width: 100%;
    height: 45px;
    color: #fff;
    padding:0;
    z-index: 99999;
    top: 0;
    opacity: 0;
    animation-delay: .5s;
}
.toggle-icon{
    float:left;
    position: relative;
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    transition: .3s all;
}
.toggle-icon:hover{
    -webkit-transition: .3s all;
       -moz-transition: .3s all;
            transition: .3s all;
}
.toggle-icon span{
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 5px auto;
}
.top-header-links{
    float:right;
    position: relative;
}
.top-header-links li{
    float:left;
}
.top-header-links li a img{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}
.top-header-links li a i{
    margin: 0 5px;
}
.top-header-links li a:hover{
    -webkit-transition: .3s all;
       -moz-transition: .3s all;
            transition: .3s all;
}
@media all and (max-width:767px){
    .side-menu{
        left: -200px;
    }   
    .side-menu-move{
        left: 0px;
        -webkit-transition: .3s all;
           -moz-transition: .3s all;
                transition: .3s all;
    }
    .top-header-links .user-profile-link a{
        padding: 0 5px 0 10px;
    }
    .top-header-links .user-profile-link a span{
        display: none;
    }
}
@media all and (max-width:360px){
    .top-header-links li a , .top-header-links li.icon-link a{
        border-left: 0;
        padding: 0 5px;
    }
}

/*DropDown
================================*/
.top-header-links .dropdown{
    float: left;
}
.top-header-links .dropdown .custom-btn{
    display: block;
    padding: 0px 15px;
    position: relative;
    box-shadow: none;
    font-size: 12px;
    line-height: 45px;
    min-width: 40px;
    letter-spacing: 0.5px;
}
.top-header-links .dropdown .custom-btn:focus ,
.top-header-links .dropdown .custom-btn:hover{
    background: transparent;
}
.top-header-links .dropdown .custom-btn i{
    font-size: 18px;
}
.top-header-links .dropdown .custom-btn .count{
    position: absolute;
    top: 13px;
    right: -8px;
    color: #fff;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 2px;
    font-size: 10px;
    z-index: 999;
    font-weight: 600;
    text-align: center;
}
.top-header-links .dropdown.profile .custom-btn img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
.top-header-links .dropdown .dropdown-menu{
    box-shadow: none;
    border: 0;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-top: 0;
    min-width: 220px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    left: auto;
    right: 0;
    opacity:0;
    visibility:hidden;
    top: 150%;
    display: block!Important;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    transition: .3s all;
}
.top-header-links .dropdown .dropdown-menu ul{
    overflow: hidden;
}
.top-header-links .dropdown .dropdown-menu ul li{
    display: block;
    float: none;
    line-height: 25px;
    font-size: 12px;
    color: #777;
    border-bottom: 1px solid #e0e0e0;
    padding: 0;
}
.top-header-links .dropdown .dropdown-menu ul li a{
    padding: 10px 5px;
    white-space: normal;
    display: block;
    text-transform: capitalize;
    position: relative;
    letter-spacing: 0.5px;
    font-size: 13px;
}
.top-header-links .dropdown .dropdown-menu ul li a:hover{
    background:#f2f7f8;
}
.top-header-links .dropdown .dropdown-menu ul li a .sender-img{
    float: left;
    margin: 5px auto;
}
.top-header-links .dropdown .dropdown-menu ul li a .message-content{
    display: block;
    padding-left: 45px;
}
.top-header-links .dropdown .dropdown-menu ul li a .message-content .sender-name{
    display: block;
    position: relative;
    font-size: 11px;
    font-weight:600;
    line-height: 25px;
}
.top-header-links .dropdown .dropdown-menu ul li a .message-content .message-time{
    font-size: 11px;
    color: #4CAF50;
    float: right;
    font-weight: 400;
    padding-right:5px;
}
.top-header-links .dropdown .dropdown-menu ul li a .message-content .message-details{
    font-size: 10px;
    line-height: 20px;
    color: #555;
}
.top-header-links .dropdown .dropdown-menu ul .notfy-item{
    padding: 5px;
    font-size: 12px;
    line-height: 22px;
}
.top-header-links .dropdown .dropdown-menu ul .notfy-item .notfy-time{
    display: block;
    font-size: 11px;
    color: #4CAF50;
    font-weight: 400;
    padding-right:5px;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}
.top-header-links .dropdown .dropdown-menu ul .notfy-item .notfy-time i{
    margin-right: 1px;
}
.top-header-links .dropdown.profile .profile-dropdown .heading{
    display: block;
    position: relative;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}
.top-header-links .dropdown.profile .profile-dropdown .heading img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid #f2f7f8;
    padding: 3px;
}
.top-header-links .dropdown.profile .profile-dropdown .heading h3{
    display: block;
    position: relative;
    line-height: 25px;
    margin: 0;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 5px;
}
.top-header-links .dropdown.profile .profile-dropdown .heading p{
    display: block;
    position: relative;
    line-height: 20px;
    margin: 0;
    color: #333;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 10px;
}
.top-header-links .dropdown.profile .profile-dropdown .heading p span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #4CAF50;
    margin: 0px 5px 0px 0px;
}
.top-header-links .dropdown.profile .profile-dropdown ul li:last-child{
    border-bottom: 0;
}
.top-header-links .dropdown.profile .profile-dropdown ul li a{
    line-height: 45px;
    color: #444;
    padding: 0 10px;
}
.top-header-links .dropdown.profile .profile-dropdown ul li a i{
    line-height: 45px;
    font-size: 16px;
}
.top-header-links .dropdown.open .dropdown-menu{
    opacity: 1;
    visibility: visible;
    top: 100%;
    -webkit-transition: .3s all;
       -moz-transition: .3s all;
            transition: .3s all;
}
.drop-footer {
    display: block;
    position: relative;
    text-align: center;
    line-height: 40px;
    background: #f2f7f8;
}
.drop-footer a{
    display: block;
    position: relative;
    text-align: center;
    line-height: 35px;
    color: #444;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
}

/* Counter
======================*/
.counter {
    display: block;
    text-align: center;
    margin: 10px auto;
    padding: 15px;
    background: #f2f7f8;
    -webkit-box-shadow: 1px 1px 3px #d6e1e4;
       -moz-box-shadow: 1px 1px 3px #d6e1e4;
            box-shadow: 1px 1px 3px #d6e1e4;
}
.counter > h3 {
    display: block;
    line-height: 40px;
    margin: 15px auto;
    font-weight: 600;
    color: #333;
    font-size: 40px;
    letter-spacing: 3px;
}
.counter > .count-name {
    display: inline-block;
    margin: 0px auto;
    position: relative;
    font-weight: 600;
    line-height: 30px;
    color: #777;
    font-size: 19px;
    text-transform: capitalize;
    padding: 0px 5px;
    letter-spacing: 2px;
}

/* Bank Lists
======================*/
.bank-lists{
    text-align: center;
    margin-bottom: 15px;
}
.bank-lists li{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.bank-lists li a{
    display: block;
    position: relative;
    width: 160px;
    height: 70px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #e7e7e7;
    -webkit-box-shadow: 2px 2px 6px 0px transparent;
       -moz-box-shadow: 2px 2px 6px 0px transparent;
            box-shadow: 2px 2px 6px 0px transparent;
}
.bank-lists li.active a ,
.bank-lists li.active a:hover ,
.bank-lists li a:hover{
    -webkit-box-shadow: 2px 2px 6px 0px #e6e6e6; 
       -moz-box-shadow: 2px 2px 6px 0px #e6e6e6; 
            box-shadow: 2px 2px 6px 0px #e6e6e6; 
}
.bank-lists li a img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
} 


/*Message
========================*/
.messages-lists li{
    margin: 10px auto;
    position: relative;
    background: #f2f7f8;
    padding: 15px;
}
.messages-lists li .mess-date{
    float:  left;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 3px;
    overflow: hidden;
    letter-spacing: 1px;
    font-size: 15px;
}
.messages-lists li .mess-date span{
    display: block;
    height: 35px;
    background: #ed1a25;
}
.messages-lists li .mess-date span:last-child{
    background: #2a2a86;
}
.messages-lists li .mess-info{
    display: block;
    position: relative;
    padding-left: 80px;
}
.messages-lists li .mess-info .mess-name{
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
    color: #2a2a86;
}
.messages-lists li .mess-info .mess-mail{
    display: block;
    line-height: 25px;
    font-size: 13px;
    color: #777;
}
.messages-lists li .mess-info .mess-cont{
    display: block;
    letter-spacing: 0.5px;
    font-size: 14px;
    line-height: 25px;
}
.messages-lists li .mess-type{
    position: absolute;
    right: 10px;
    top: 10px;
    background: #ed1a25;
    color: #fff;
    line-height: 25px;
    padding: 0 5px;
    border-radius: 3px;
    font-weight: 100;
    letter-spacing: 0.5px;
    font-size: 12px;
    text-transform: capitalize;
}
.messages-lists li .mess-type.solved{
    background: #4CAF50;
}
/*Tables
===========================*/
.dataTables_length{
    float: left;
    width: 50%;
}
.dataTables_length select{
    border: 1px solid #2a2a86;
    padding: 3px;
    line-height: 35px;
}
.dataTables_filter{
    float:right;
}
.dataTable{
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.dataTable>tbody>tr>td, .dataTable>tbody>tr>th, 
.dataTable>tfoot>tr>td, .dataTable>tfoot>tr>th,
.dataTable>thead>tr>td, .dataTable>thead>tr>th{
    border-top: 0;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    font-size: 12px;
    padding: 5px 10px;
    line-height: 30px;
    letter-spacing: 1px;
}
table.dataTable.no-footer{
    border-bottom: 0;
    margin-bottom: 5px;
}
.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    margin: 0px 0px 15px;
    color: #2a2a86!important;
    text-transform: capitalize;
    line-height: 30px;
}
.dataTables_wrapper .dataTables_paginate{
    margin: 0 0 15px 0;
    float: right;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #2a2a86 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #54549e !important;
    border: 1px solid transparent;
    border-radius: 2px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    color: #fff !important;
    border: none;
    background: #54549e;
}
.dataTables_wrapper .dataTables_length label, 
.dataTables_wrapper .dataTables_filter label,
.dataTables_wrapper .dataTables_info label, 
.dataTables_wrapper .dataTables_processing label,
.dataTables_wrapper .dataTables_paginate label{
    text-transform: capitalize;
    line-height: 30px;
    display: block;
    margin: 0 0 15px 0;
    letter-spacing: 0.5px;
    color: #2a2a86;
    font-weight: 100;
    font-size: 13px;
}
.dataTables_wrapper .dataTables_filter input{
    border: 1px solid #f1f1f1;
    line-height: 30px;
    margin-left: 5px;
    padding: 0 5px;
}
button.dt-button,
div.dt-button,
a.dt-button {
    display: inline-block;
    position: relative;
    border: 1px solid #58595b;
    height:35px;
    line-height:35px;
    text-align: center;
    font-size: 13px;
    padding: 0 10px;
    border-radius: 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    color: #58595b;
    background: transparent;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    transition: .3s all;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    background-image:none;
}
button.dt-button:active:not(.disabled),
button.dt-button.active:not(.disabled),
div.dt-button:active:not(.disabled),
div.dt-button.active:not(.disabled),
a.dt-button:active:not(.disabled),
a.dt-button.active:not(.disabled) ,
button.dt-button:active:not(.disabled):hover:not(.disabled),
button.dt-button.active:not(.disabled):hover:not(.disabled),
div.dt-button:active:not(.disabled):hover:not(.disabled),
div.dt-button.active:not(.disabled):hover:not(.disabled),
a.dt-button:active:not(.disabled):hover:not(.disabled),
a.dt-button.active:not(.disabled):hover:not(.disabled) ,
button.dt-button:hover:not(.disabled), 
div.dt-button:hover:not(.disabled),
a.dt-button:hover:not(.disabled){
    border: 1px solid  #58595b;
    outline: none;
    background-color: #58595b;
    background-image: none;
    color: #fff;
    -webkit-transition: .3s all;
       -moz-transition: .3s all;
            transition: .3s all;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    -webkit-text-shadow: none;
       -moz-text-shadow: none;
            text-shadow: none;
}
@media all and (max-width: 767px){
    .table-responsive {
        padding: 10px;
    }
}
.top-table-link , .table-action{
    display: block;
    margin: 0px auto 15px;
}
.top-table-link{
    text-align: right;
}
.sheet-data label{
    border: 1px solid #f1f1f1;
    padding: 15px;
}
.sheet-data label span{
    display: block;
    color: #ec252f;
}
.user-perm-list{
    display: block;
    border: 1px solid #f1f1f1;
    margin: 15px;
    padding: 15px;
}
.user-perm-list .form-title{
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    background: #ed1720;
    line-height:35px;
    width: 210px;
    margin: 5px auto 15px;
    color: #fff;
    padding: 0 10px;
}
.img-block {
    padding: 0;
    margin: 10px auto;
    display: block;
    width: 100%;
    background: #f4f4f4;
    padding: 15px;
}
.img-block img {
    margin-bottom: 5px;
    height: 150px;
    background: #fff;
    padding: 10px;
}
.img-block .custom-file-upload {
    cursor: pointer;
    display: block!important;
    width: 150px!important;
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    font-size: 11px;
}
.img-block input[type="file"] {
    display: none;
}
.table .radio-wrap {
    display: block;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.table .radio-wrap input[type="checkbox"]:empty ~ label {
    border: 0;
    padding: 0;
    width: 20px;
    overflow: hidden;
    height: 20px;
    margin: 0 auto;
    text-align: center;
}
.table .radio-wrap input[type="radio"]:checked ~ label:before, 
.table .radio-wrap input[type="checkbox"]:checked ~ label:before {
    background: #4CAF50;
    border-color: #4CAF50;
}
.table .radio-wrap input[type="radio"]:checked ~ label, 
.table  .radio-wrap input[type="checkbox"]:checked ~ label {
    color: #1e1f1f;
    background: transparent;
}
.add-merc .form-group{
    margin: 5px -10px;
    border: 1px solid #f1f1f1;
    padding: 10px;
}
.add-merc .form-group .form-control{
    height: 35px;
    border-radius: 0;
}
.add-merc label{
    border: 0;
    padding: 0;
    margin: 0;
    line-height: 35px;
}
.add-merc label span{
    display: block;
    line-height: 35px;
    letter-spacing: 1px;
}
.ticket-tr th ,
.ticket-tr td{
    min-width: 170px!important;
}
.ticket-tr th:nth-child(1) ,
.ticket-tr td:nth-child(1){
    min-width:70px!important;
    max-width: 70px!important;
    border-left: 0;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 0;
}
table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: transparent;
}
.req-steps {
    display: block;
    position: relative;
    border-bottom: 0;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    background: #fff;
    overflow: hidden;
}
.req-steps:before{
    content: " ";
    position: absolute;
    background: #e8e8e8;
    height: 2px;
    top: 30px;
    left: 5%;
    right: 5%;
    width: 90%;
}
.req-steps>li {
    float:left;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    width: 33.3%;
}
.req-steps>li>a {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    font-weight: 600;
    color: #2a2a86;
    border: none;
    border-radius: 0;
    background: transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.req-steps>li>a>span{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background: #f2f7f8;
    padding: 0;
    font-size: 14px;
}
.req-steps>li.active>a, 
.req-steps>li.active>a:focus, 
.req-steps>li.active>a:hover, 
.req-steps>li>a:focus, 
.req-steps>li>a:hover {
    border: none;
    background: transparent;
}
.req-steps>li.active>a>span, 
.req-steps>li.active>a:focus>span, 
.req-steps>li.active>a>span:hover, 
.req-steps>li>a:focus>span, 
.req-steps>li>a>span:hover{
    background: #ec1921;
    color:#fff;
}
@media all and (max-width:520px){
    .req-steps>li{
        float: none;
        width: 100%;
        display: block;
    }
    .req-steps:before{
        display: none;
    }
    .req-steps>li>a {
        width: 100%;
        border: 1px solid #e8e8e8;
        margin: 5px auto;
        padding: 0;
        text-align: right;
    }
    .req-steps>li>a>span {
        display: inline-block;
        margin-left: 5px;
        border: 0;
        border-radius: 0;
        text-align: center;
    }
    .req-steps>li.active>a, 
    .req-steps>li.active>a:focus, 
    .req-steps>li.active>a:hover, 
    .req-steps>li>a:focus, 
    .req-steps>li>a:hover {
        background: transparent;
        color: #0072bc;
        border: 1px solid #e8e8e8;
    }
    .req-steps>li.active>a>span, 
    .req-steps>li.active>a:focus>span,
    .req-steps>li.active>a:hover>span,
    .req-steps>li>a:focus>span,
    .req-steps>li>a:hover>span {
        background:#f5f5f5;
        color: #252525;
    }
}
.select2-container{
    width: 100%!important;
    min-height: 50px!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    margin-top: 5px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
}
.select2-container .select2-selection--single {
    height: 40px;
    border: 1px solid #eee;
    border-radius: 0;
}
.select2-container--default.select2-container--focus .select2-selection--multiple , 
.select2-container--default .select2-selection--multiple{
    border: 1px solid #eee;
    border-radius: 0;
    min-height: 40px!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #00b7d8;
    border: 1px solid #00b7d8;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
    color: #fff;
    line-height: 23px;
    font-size: 12px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 3px;
}
label.nobord{
    
padding: 0;
    
border: 0;
}
.animated{
    opacity: 1!important;
}
